* {
    color:azure;
    font-family: 'Space Grotesk', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0px;
}

body {
    display: flex;
    background-color: rgb(22, 29, 29);
}

header {
    width: 300px;
    flex-shrink: 0;
    background-color: rgb(22, 29, 29);
    padding: 50px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 25px;

}

button {
    border-radius: 50px;
    border: 1px solid greenyellow;
    padding: 15px;
    background-color: rgb(38, 49, 49);
}

button:hover {
    background-color: rgb(22, 29, 29);
}

.task > button {
    border: none;
    background-color: transparent;
}

.task > button:hover {
    background-color: rgb(208, 237, 212);
}

.project {
    display: flex;
    gap: 5px;
    margin: 5px;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.project .size {
    background-color: rgb(102, 152, 26);
    border-radius: 50%;
    padding: 5px;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}


#taskContainer {
    background-color: rgb(38, 49, 49);
    flex-grow: 1;
    transition: flex 0.8s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 30px;
    padding: 40px;
}

.project.active {
    font-weight: bold;
    background-color: rgb(38, 49, 49);
    padding: 2px;
    border-radius: 15px;
}

#projectAdd {
    display: none; 
}

#projectAdd.open {
    display: block;
}

#taskDetail {
    flex-direction: column;
    align-items: flex-start;
    gap: 25px;
    background-color: rgb(22, 29, 29);
    height: 100vh;
    display: none; 
    padding: 40px;
    border: 1px solid transparent;
    transition: width 400ms;
}

#taskDetail.open {
    display: flex;
    width: 20rem;
    animation: 550ms ease 0s fade-in;
}

@keyframes fade-in {
    from {
        transform: translateX(50vh);
        opacity: 25;
        background-color: rgb(22, 29, 29);
    }

    to {
        transform: translateX(0);
        opacity: 100;
        background-color: rgb(22, 29, 29);
    }
}

#taskForm {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    
}

input, textarea {
    width: 200px;
    border-radius: 25px;
    background-color: rgb(208, 237, 212);
    padding: 7px;
    color: black;
}

textarea {
    height: 175px;
    padding: 10px;
}

#projectForm > input {
    width: 175px;
}

.task, .taskHeader {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 25px;
    justify-content: space-between;
    align-items: center;
    justify-items: center;
    margin: 5px 15px;
}

.task {
    cursor: pointer;
}

.task.active {
    font-weight: bold;
    background-color: rgb(23, 29, 29);
    padding: 2px;
    border-radius: 15px;
}
